html {
    font-size: 3vh;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

section {
    height: 100vh;
    width: 100%;
    background-image: url("./images/catsdogs.jpg");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.title {
    font-size: 3rem;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}

.subtitle {
    font-size: 1.5rem;
    text-align: center;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #808080;
    width: 100%;
    display: flex;
    justify-content: center;
}

a {
    padding-left: 15px;
    color: white;
}

