body {
background-image: url(../images/kitten.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

#kitten {
    font-size: 3rem;
}