
body, html {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
#home {
    background-image: url(../images/kitten-v.jpg);
}

#about {
    background-image: url(../images/kitten-flying-v.jpg);
}

nav {
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    background: transparent;
    left: 0;
    transform: translate(5.5em, 10px);
}

nav > a {
    text-decoration: none;
    color: #e4ac3e;
    font-size: 15px;
    font-weight: bolder;
    margin-right: 10px;
}

article {
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    margin: 0;
    background-attachment: fixed;
}

article:hover {
    transition: .5s ease-in-out;
    margin-bottom: 20px;
}
#paw {
    display: none;
}


p {
    text-shadow: 2px 2px white;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 13px;
    top: 20%;
    right: -50%;
    position: relative;
    width: 23%;
}

h1, h2 {
    padding-left: 10px;
    margin: 0;
    position: fixed;
}

h1 {
    color: black;
    font-weight: 900;
}

h1 > span {
    color: #e4ac3e;
}
h1 > span:last-child {
    text-shadow: 1px 1px  black;
}

h2 {
    font-size: 30px;
    padding-top: 1.5rem;
    top: 10%;
}

.netflix {
    width: 3em;
    margin-left: 1rem;
    transform: translateY(8px);
    /* transform: rotateX(180deg); */
}


#schedule {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* transform: translateY(50px); */
    /* display: none; */
    /* temporary */
}
.exit-button {
    height: 40px;
    width: 40px;
    transform: translate(38em, -10px);
    cursor: pointer;
}

#popup {
    display: none;
}
table{
    background-color: rgba(0, 0, 0, 0.8);
    color: #f4d040;
    justify-content: center;
    display: flex;
    width: 30em;
    font-size: 20px;
    padding: 15px;
    border-style: solid;
    border-color: #f4d040;
    border-radius: 15px;
}

/* .exit { 
    display: none;
} */

#contact {
    display: flex;
    display: none;
    flex-direction: row;
    justify-content: center;
    transform: translateY(7em);
}
.contact-back {
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    display: flex;
    width: 20em;
    font-size: 20px;
    padding: 2em;
    border-style: solid;
    border-color: #f4d040;
    border-radius: 15px;
}

.exit-away {
    height: 40px;
    width: 40px;
    transform: translate(31em, -10px);
}
.contact-back > a {
    color: #f4d040;
    font-size: 30px;
    margin-left: 1em;
    align-items: center;
    transform: translateX(-20px);
}
