/* div.move {
    top: 50%!important;
    left: 50%!important;
} */
#block1 {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 0, 0.5);
    transition: all 3s ease;
    opacity: 1;

}
div.move {
    top: 50%!important;
    left: 50%!important;
}
#block2 {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 0, 0, 0.5);
}

#move {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#size {
    position: absolute;
    top: 0;
    left: 55%;
    transform: translateX(-50%);
}
#opacity {
    position: absolute;
    top: 0;
    left: 60%;
    transform: translateX(-50%);
}
#color {
    position: absolute;
    top: 0;
    left: 65%;
    transform: translateX(-50%);
}
.size {
    width: 20%;
    height: 20%;
}
.opacity {
    opacity: 0.25;
}
.color {
    background-color: green;
}
