html {
    font-size: xx-large;
}

#mobile-nav {
    display: block;
    position: fixed;
    top: 0.5em;
    left: 0.5em;
    height: 5vh;
    width: 5vh;
    z-index: 10;
    /* so it stays on top */
    padding: 0;
}

#mobile-nav > img {
    /* > is direct child (we are talking about the hamburger image) */
    width: 100%;

}

#nav:target {
    width: 12ch;
    height: 7em;
    padding: .2em;
}

nav {
    /* overrides what is said on the standard.css */
    flex-direction: column;
    top: calc(5vh + .5em);
    width: 0;
    overflow: hidden;
    /* so it doesnt go outside of its text */
    transition: all .5s;
}

nav > a {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

nav > a:first-child {
    padding-top: 0.5em;
}

nav > a:last-child {
    padding-bottom: 0.5em;
}

.logo {
    width: 40vw;
}

article {
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 1.2rem;
}

.vertical-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* will actually get it centered  */
}

.tagline {
    white-space: nowrap;
    /* gets rid of wrapping  */
}

#bonus {
    display: block;
    margin-top: 3em;
}

.bonus-img {
    margin-top: 5vh;
    display: block;
    width: 100%;
}

#apps {
    display: flex;
    flex-direction: column;
}

#apps > .sidebar {
    display: none;
}

.stage .cube {
    /* means it's in for specificiy*/

    width: 40vw;
    height: 40vw;
    margin-left: auto;
    margin-right: auto;
}

.photobox img {
    height: 40vw;
    width: auto;
    left: 50%;
}

.stage .front {
    transform: translateX(-50%) translateZ(30vw);
}

.stage .back {
    transform: translateX(-50%) rotateY(180deg) translateZ(30vw);
}

.stage .top {
    transform: translateX(-50%) rotateX(90deg) translateY(30vw);
}

.stage .bottom {
    transform: translateX(-50%) rotateX(-90deg) translateZ(30vw);
}

.stage .left {
    transform: translateX(-50%) rotateY(-90deg) translateZ(30vw);
}

.stage .right {
    transform: translateX(-50%) rotateY(90deg) translateZ(30vw);
}

/* for the animation I think  */

figcaption {
    font-size: 1rem;
}

.photobox {
    flex-direction: column;
}

.stage {
    width: 100%;
}