html {
    font-size: 16pt;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}



nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
    font-size: larger;
    position: fixed;
    top: 0;
    left: 0;   
    width: 100%;
    /* position: fixed; by itself will screw up the code and make the width disappear so you have to add the width again yourself */
    z-index: 5;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}

#home {
    background-image: url("../Images/background.jpg");
}

.logo {
    width: 9ch;
}

.title, .logo {
    font-family: "Indie Flower", sans-serif;
    font-size: 3em;
}

.tagline {
    font-style: italic;
    font-size: 1.5em;
}

.photobox {
    display: flex;
    margin-top: 1em;
}

.photobox img {
    width: 22ch;
}

article {
    padding-top: 4rem; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    padding-left: 20vw;
    padding-right: 20vw;
    position: relative;
    /* whether we use margin or padding it depends on the context, if we use padding top the image will start at the top under nav */

}

.photobox > :last-child {
    text-align: left;
}

.photobox figure {
    font-size: .6em;
    margin-left: 0;
    margin-top: .3em;
    margin-right: 1em;
    margin-bottom: 2em;
    /* margin: .3em 1em 2em 0  would have done the same thing*/
}

article::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.1;
    z-index: -1;
}

#about::before {
    background-image: url(../Images/c64.jpg);
}

#services::before {
    background-image: url(../Images/www.jpg);
}

#apps::before {
    background-image: url(../Images/apps.jpg);
}

#services p, #apps p {
    text-align: left;
}

#services h2 {
    font-size: 1.25em;
}
/* you need to make the text left-align for <p> on services
change subheading font-size to 1.25em, delete once done */

#apps h1 {
    grid-area: header;
}

#apps > .content {
    grid-area: main;
}

#apps > div:nth-of-type(1) {
    grid-area: sidebar-left;
    padding-right: 1.5em;
    text-align: right;
}

#apps > div:nth-of-type(3) {
    grid-area: sidebar-right;
    padding-left: 1.5em;
    text-align: left;
}

#apps > .sidebar > img {
    height: 20vh;
    margin-bottom: 0.5em;
}

#apps {
    display: grid;
    grid-template-areas: 
    "header header header header header header"
    "sidebar-left main main main main sidebar-right"
    "sidebar-left main main main main sidebar-right"
    "sidebar-left main main main main sidebar-right"
    "sidebar-left main main main main sidebar-right"
    "sidebar-left main main main main sidebar-right"
;
}