html {
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}



nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: .025em;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}