nav {
    background-color: blue;
    display: flex; 
    justify-content: space-between;    
}
/* body margin isn't apart of the original code shown on 2/8/2023 you just hated a white gap*/
body {
    margin: 0;
}

a {
    color: cyan;
}
