html, body {
    background-color: aliceblue;
}

header a #mobile-nav {
    top: 0;
    right: 0;
    position: fixed;
    color: white;
    padding: 1rem;
    font-size: 1.5em;
    display: block;

}

header > span {
    font-size: 2.5em;
    position: fixed;
}

.mobile-nav-show {
    display: flex;
}
nav {
    display: none;
    flex-direction: column;
    overflow: hidden;
    background-color: black;
    color: white;
    justify-content: space-around;
    top: 2.5em;
    right: .5em;
    position: fixed;
    text-align: center;
    padding: 0.5em;
}

nav a {
    margin: 0 !important;
    line-height: 1em !important;
    padding: 0.5em;
}
.teaser {
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 120%;
    background-color: white;
}

.teaser div::after {
    border-right: none;
}

main h1 {
    font-size: 45px;
    text-align: center;
}

main a {
    width: 10ch;

    border-width: 0;
    padding-top: calc(.5em + 3px);
    /* add two units together is what calc does */
    padding-bottom: calc(.5em + 3px);
    /* 3px is to make up for the removed border */
    width: calc(20ch + 5px);
    background: linear-gradient(90deg, blue, lightblue, turquoise);
    margin-top: 1em;
}

main {
    white-space: normal;
    top: 35%;
}
