
body, html {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

article:target {
    left: 0;

}
article {
    width: 100%;
    background-size: cover;
    left: -100vw;
    padding-top: 11.5vh;
    position: absolute;
    background-color: rgb(246, 235, 214);
    z-index: -2;
    padding-bottom: 3em;
}

nav {
    background-color: #594545;
    display: flex;
    width: 100%;
    top: 0;
    position: absolute;
    height: 11.5vh;
}

nav > a {
    text-decoration: none;
    color: #ebccab;
    margin-right: 10vw;
    transform: translate(25em, 30px);
    font-size: 24px;
    font-weight: bolder;
}

nav a:hover {
    color: #ffd37a;
    transition: ease 1s ;
}
#whisker {
    transform: translate(2em, 1.5em);
    transition: all ease 1s ;
}
#whisker > a {
    font-family: 'Cinzel Decorative', cursive;
    text-decoration: none;
    color: rgb(235, 204, 171);
    display: flex;
    text-align: center;
}
#logo {
    width: 6ch;
    transform: translate(5em, -3.5em);
}

#info {
    left: 0;
}
#feline {
    background: rgba(26,49,85,.5);
   background-image: url(../images/cafe.jpg);
   /* the other image is a jpg that looks exactly like this one but not shaded*/
   background-repeat: no-repeat;
   background-size: cover;
   height: 500px;

}

.front > h1 {
    margin: 0;
    display: flex;
    font-size: 50px;
    font-weight: bolder;
}

.front > p {
    margin: 0;
    font-size: 30px;
}

 .front {
    background: linear-gradient(to right, rgb(89, 69, 69), transparent);
    display: absolute;
    margin: 0;
    color: #ebccab;
    top: 0;
    left: 0;
    padding-right: 50em;
    padding-left: 3em;
    padding-top: 3em;
    height:  452px;
}

#click-me {
    background-color: #ebccab;
    font-size: large;
    border-radius: 10ch;
    padding: 20px 20px;
    color: #594545;
    text-decoration: none;
    display: flex;
    margin: 2vw;
    justify-content: center;
    letter-spacing: 4px;
    font-weight: bold;
}

#click-me:hover {
    background-color: #594545;
    color: #ebccab;
    transition: ease .5s;
}

#about {
    padding: 1em;
    display: flex;
    justify-content: space-around;
}
.side1, .side2 {
    background-color: #594545;
    color: #ebccab;
    border-radius: 4ch;
    width: 45%;
    font-size: x-large;
    height: 25em;
    margin: 2vw;
    padding: 1em;
}

#about h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
    margin: 0;
}

#about p {
    font-size: 25px;
}

.side2 > a {
    text-decoration: none;
    color: #594545;
    background-color: #ebccab;
    padding: 10px;
    border-radius: 25px;
    width: 10em; 
    display: flex;   
    justify-content: center;
    margin-left: 7.5em;
}

.side3 a:hover {
    transition: ease .5s;
    background-color: #ffd37a;
}



#footer{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #594545;
    position: fixed;
    color: #ebccab;
    width: 100%;
    bottom: 0;
}

#footer h1 {
    font-size: 1.2em;
    margin-left: 20vw;
}

#socials {
    margin-left: 20vw;
}
#socials > a {
    color: #ebccab;
    font-size: 1.2rem;
    margin: 15px;
    /* top: 35%; */
    position: relative;
}

.hide {
    display: none;
    text-align: center;
    transition: display 2s;
    
}

.week, .address {
    transform: translate(10em);
}

footer:hover .hide {
    display: block;
    /* more */
}
.top {
    margin: 0;
    position: relative;
    background-image: url(../images/lick.png);
    background-size: cover;
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-clip: border-box;
}

.top::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(89, 69, 69, 0.6);
}


.top-content {
    color: rgb(235, 204, 171);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.top-content > h1 {
    margin: 0;
    margin-bottom: 1ch;
    font-size: 8ch;
    font-weight: bolder;
    font-family: 'Cinzel Decorative', cursive;
}

#submit {
    background-color: #ebccab;
    color: #594545;
    text-decoration: none;
    padding: 1rem;
    border-radius: 25ch;
    width: 18em;
    text-align: center;
    border: 0;
    margin: 20px;
}


#submit:hover {
    background-color: #594545;
    color: #ebccab;
    transition: ease .5s;
    cursor: pointer;
}


#works, #rules {
    background-color: #594545;
    color: #ebccab;
    margin: 1em 3em;
    padding: 20px;
    border-radius: 8ch;
}

#visiting-info {
    display: flex;
    flex-direction: column;
}

#visiting-info h1 {
    font-size: 50px;
    text-align: center;

}

#visiting-info p, ol {
    font-size: 25px;
}


#form {
    transform: translate(-2em, -2em);
}
.form-words {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 125%;
}
    
.information {
    display: block;
   width: 40%;
   float: right;
}

.top-cat {
    color: #594545;
    text-align: center;
    margin: 2em;
}
.top-cat > h1 {
    font-size: 50px;
}

#adoption {
    font-size: 25px;
}

#cat-form-adopt {
    width: 45%;
}
#form-adoption > h1 {
    text-align: center;
}

#form-adoption {
    display: flex;
    color: #594545;
    flex-direction: column;
    align-items: center;
    text-align: left;
    
    justify-content: center;
}
.silly-cats > img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

.silly-cats {
    background-color: #594545;
    color: #ebccab;
    margin: 1em;
    padding: 2em;
    border-radius: 25px;
    display: flex;
}

.silly-cats > div {
    text-align: center;
    margin-left: 1em;
    top: 0;
}


#cat-form-adopt > button {
    transform: translate(15em, 1em);
}