html, body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

article:target {
    left: 0;
}
article {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    left: -100vw;
    display: block;
    background-color: rgb(246, 235, 214);
}

nav {
    background-color: #594545;
    display: flex;
    position: relative;
    width: 100%;
    top: 0;
}

nav > a {
    text-decoration: none;
    color: #ebccab;
    margin-right: 10vw;
    transform: translate(25em, 30px);
    font-size: 24px;
    font-weight: bolder;
}

nav a:hover {
    color: #ffd37a;
    transition: ease 1s ;
}
#whisker {
    transform: translate(2em, 1.5em);
    transition: all ease 1s ;
}
#whisker > a {
    font-family: 'Cinzel Decorative', cursive;
    text-decoration: none;
    color: rgb(235, 204, 171);
    display: flex;
    text-align: center;
}
#logo {
    width: 6ch;
    transform: translate(5em, -3em);
}

#info {
    left: 0;
}
#feline {
    background: rgba(26,49,85,.5);
   background-image: url(/final-project/images/cafe.jpg);
   /* the other image is a jpg that looks exactly like this one but not shaded*/
   background-repeat: no-repeat;
   background-size: cover;
   height: 500px;

}

.side1 > h1 {
    margin: 0;
    display: flex;
    font-size: 50px;
    font-weight: bolder;
}

.side1 > p {
    margin: 0;
    font-size: 30px;
}

 .side1 {
    background: linear-gradient(to right, rgb(89, 69, 69), transparent);
    display: absolute;
    margin: 0;
    color: #ebccab;
    top: 0;
    left: 0;
    padding-right: 50em;
    padding-left: 3em;
    padding-top: 3em;
    height:  452px;
}

#click-me {
    background-color: #ebccab;
    font-size: large;
    border-radius: 5ch;
    padding: 20px 20px;
    color: #594545;
    text-decoration: none;
    display: flex;
    margin: 2vw;
    justify-content: center;
    letter-spacing: 4px;
    font-weight: bold;
    /* width: 50px; */
}

#click-me:hover {
    background-color: #594545;
    color: #ebccab;
    transition: ease .5s;
}

#about {
    padding: 1em;
    display: flex;
    justify-content: space-around;
}
.side2, .side3 {
    background-color: #594545;
    color: #ebccab;
    border-radius: 10px;
    width: 45%;
    font-size: x-large;
    height: 25em;
    margin: 2vw;
    padding: 1em;
}

#about h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
    margin: 0;
}

#about p {
    font-size: 25px;
}

.side3 > a {
    text-decoration: none;
    color: #594545;
    background-color: #ebccab;
    padding: 10px;
    border-radius: 25px;
    width: 10em; 
    display: flex;   
    justify-content: center;
    margin-left: 7.5em;
}

.side3 a:hover {
    transition: ease .5s;
    background-color: #ffd37a;
}

